---
layout: labs
---


<h1>Buttons Kitchen Sink</h1>


<style>
.docs-button-example{
    display: inline-block;
    min-width: 120px;
    margin-right: 10px;
    vertical-align: top;
}


.docs-button-example__label {
    display: block;
}

</style>

{{#*inline "button-label-content"}}
    {{#if icon-left}}{{>includes.icon id=icon-left class="fk-ucon--lg"}}{{/if}}
    {{#if label}}{{label}}{{else}}Click Me{{/if}}
    {{#if icon-right}}{{>includes.icon id=icon-right }}{{/if}}
{{/inline}}

{{#*inline "type-example"}}
<h3>{{name}} Button</h3>
<div class="docs-button-example">
    <label class="docs-button-example__label" for="">el="a"</label>
    <a class="fk-btn {{#if class}}fk-btn--{{class}}{{/if}}" role="button" href="#">
        {{>button-label-content}}
    </a>
</div>

<div class="docs-button-example">
    <label class="docs-button-example__label" for="">el="button"</label>
    <button class="fk-btn {{#if class}} fk-btn--{{class}}{{/if}}" role="button" href="#">
        {{>button-label-content}}
    </button>
</div>

<div class="docs-button-example">
    <label class="docs-button-example__label" for="">el="div"</label>
    <div class="fk-btn {{#if class}} fk-btn--{{class}}{{/if}}" role="button" href="#">
        {{>button-label-content}}
    </div>
</div>
    
<div class="docs-button-example">
    <label class="docs-button-example__label" for="">el="checkbox"</label>
    <input type="checkbox" id="button-id-94350" class="fk-btn--toggle__input"  />
    <label class="fk-btn {{#if class}} fk-btn--{{class}}{{/if}}" role="button" for="button-id-94350">
        {{>button-label-content}}
    </label>
</div>

<div class="docs-button-example">
    <label class="docs-button-example__label" for="">el="radio"</label>
    <input type="radio" id="button-id-94360" class="fk-btn--toggle__input"  />
    <label class="fk-btn {{#if class}} fk-btn--{{class}}{{/if}}" role="button" for="button-id-94360">
         {{>button-label-content}}
    </label>
</div>
{{/inline}}





<h2>Element Type Consistency</h2>
<p>Regardless of the element used to create a button, it will look identical. </p>

{{#*inline "size-example"}}
    <h3>{{@key}}</h3>
    <div class="docs-button-example">
    {{#each (data "testing.button-sizes")}}
        <button class="fk-btn {{#if ../class}} fk-btn--{{../class}}{{/if}} {{#if this}}fk-btn--{{this}}{{/if}}">
            {{#if ../icon-left}}{{>includes.icon id=../icon-left}}{{/if}}
            {{@key}}
        </button>
    {{/each}} 
    </div>
{{/inline}}






{{#each (data "testing.buttons")}}
    {{> type-example name=@key class=this}}
{{/each}}

{{#each (data "testing.buttons")}}
    {{> type-example name=@key label="Save Loan" class=this icon-left="checkmark"}}
{{/each}}

{{#each (data "testing.buttons")}}
    {{> type-example name=@key label="Save Loan" class=this icon-right="arrow-right"}}
{{/each}}




<h2>Size Consistency</h2>
<p>Regardless of the size of the button, it will look identical. </p>
{{#each (data "testing.buttons")}}
    {{> size-example name=@key class=this}}
{{/each}}

{{#each (data "testing.buttons")}}
    {{> size-example name=@key class=this icon-left="plus"}}
{{/each}}


<br>
<br>
<br>
<br>
<br>