{{#extend "blank" htmlclass="" bodyclass=""}}
  {{#content "head" mode="append"}}
    {{!-- <link rel="stylesheet" href="{{@root.baseurl}}/assets/kitchen.css"> --}}
    <link rel="stylesheet" href="{{@root.baseurl}}/assets/framekit.css">
  {{/content}}
  {{#content "body"}} 

 <div class="shame-utility" style="background:#2D2A2A; color: rgb(196, 196, 196); padding:8px; font-size:.7rem;" >
   <div class="fk-container"> 
      <a href="{{@root.baseurl}}/labs-home.html" style="color: rgb(196, 196, 196);text-decoration:none;">← Back to Kitchen Labs</a>
    </div>
  </div>

   <div class="fk-container">
    {{#block "main"}}

    {{/block}}
     </div>
  {{/content}} 

  {{#content "foot"}}
    {{!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    --}}
    <script src="{{@root.baseurl}}/assets/js/framekit.js" type="text/javascript"></script>
    <script src="{{@root.baseurl}}/assets/js/ucon-injector-allicons.js" type="text/javascript"></script>
  {{/content}}
{{/extend}}